<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
	<title>Add a new Event</title>
</head>
<body>
	<noscript>YOU NEED JAVASCRIPT!</noscript>
	{{ template "Header" }}
	<h1>Add a new Sticky</h1>
	<form onsubmit="encrypt()">

		<label for="title">Title:</label>
		<input type="text" name="title" id="title" required><br>

        	<label for="description">Description:</label>
        	<input type="text" name="description" id="description" required><br>

		<input hidden id="iv" type="text" value="{{.AESKey}}">

		<input id="encryptedTitle" type="hidden" value="">
    		<input id="encryptedDescription" type="hidden" value="">	

		<input type="submit" value="Create Sticky">
    	</form>



	<br>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
	<script type="text/javascript" src="/static/js/encrypt.js"></script>

</body>

</html>
