<!DOCTYPE html>
<html data-bs-theme="dark">
	<head>
		<title>Profile - {{.User.Username}}</title>
		{{ template "Header" }}
	</head>
	<body>
		<br><br>
		<div style = "margin:auto; width:50%; border: 3px solid black; padding:10px; border-radius: 25px;">
    			<h1 style = "text-transform:capitalize;">Welcome Admin : {{.User.Username}}</h1>
    			<br><br>
    			<a type="button" class="btn btn-danger" href="/logout">Logout</a>
		<div>

		<div class="d-flex container">
			<div class="flex-grow-1 flex-wrap">
				<h2>List of Cards</h2>
				<div class="card text-white bg-dark mb-3 mx-auto" style="margin:auto; width:75%; padding:10px;">
					<input type="text" id="cardInput" onkeyup="listCards()" placeholder="Search for cards..">
					<ul id="cardUL">
						{{ range .Cards }}
							<li><a href="#">{{.CardName}}</a></li>
						{{ end }}
					</ul>
				</div>

				<br>

				<div class="card text-white bg-dark mb-3 mx-auto" style="margin:auto; width:75%; padding:10px;">
					<button class="button btn btn-warning open-button" data-modal-id="M-{{.DashID}}" data-title="{{.Title}}" data-description="{{.Description}}" data-id="{{.ID}}">🖉</button>
			</div>
		</div>

		<script type="text/javascript" src="/static/js/search.js"></script>
	</body>
</html>
