<!DOCTYPE html>
<html data-bs-theme="dark">
	<head>
		<title>Profile - {{.User.Username}}</title>
		{{ template "Header" }}

	</head>
	<body>
		<br><br>
		<div style = "margin:auto; width:50%; border: 3px solid black; padding:10px; border-radius: 25px;">
    			<h1 style = "text-transform:capitalize;">Welcome Admin : {{.User.Username}}</h1>
		</div>

		<!-- Add Bank Modal -->
		<dialog id="addBankModal">
			<form class="form" enctype="multipart/form-data">
				<span class="closeAddBank btn btn-danger">Cancel</span><br><br>
				<label for="title">Bank Name:</label>
				<input type="text" id="title" name="title" required><br><br>
				<label for="bank_image">Bank Image</label>
				<input type="file" id="bank_image" name="bank_image" required><br><br>
				<input type="submit" class="btn btn-success" value="Submit">
			</form>
		</dialog>

		<br><br>
		<div style = "margin:auto; width:50%; border: 3px solid black; padding:10px; border-radius: 25px;" >
			
			<div class="card-body d-flex align-items-center justify-content-center gap-3">
                                        <h2 class="mb-0">Banks</h2>
                                        <button class="btn btn-success open-add-bank-button">+</button>
                        </div>

			<hr class="hr" />

			{{ range .Banks }}

			<div class="row justify-content-around text-white bg-dark mb-3 mx-auto">
				<div class="col-sm">{{.Name}}</div>
				<div class="col-sm"><img src="{{.Image}}" style="width:128px;height:128px;"></div>
				<div class="col-sm"><button id="{{.ID}}" onclick="postDeleteBank(this.id)" class="btn btn-danger">ⓧ</button></div>
			</div>

			{{ end }}

		</div>

		<script type="text/javascript" src="/static/js/addBankModal.js?v=1.0"></script>
		<script type="text/javascript" src="/static/js/bank.js"></script>
	</body>
</html>
