<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>Dashboard - {{.Username}}</title>
    <!-- <link rel="stylesheet" href="/static/css/modal.css"> -->

</head>
<body>
	{{ template "Header" . }}
	<br>
	<div style = "margin:auto; text-align:center;">
    		<h1 style = "text-transform:capitalize;"><p id="good_message"></p> {{.Username}}</h1>
		<input id="iv" type="hidden" value="{{.AESKey}}">
	<div>

	<hr class="border-2 w-75 mx-auto" />

	<div class="d-flex container">
		<div class="flex-grow-1 flex-wrap">

			<ul>
				<br>

				<div class="card-body d-flex align-items-center justify-content-center gap-3">
					<h2 class="mb-0">Notes</h2>
					<button class="button btn btn-success open-add-sticky-button mb-0">+</button>
				</div>

				<br>

				{{ range .Stickies }}
					<div class="sticky card text-white bg-dark flex-grow-1 flex-wrap">
						<div class="card-header d-flex align-items-center justify-content-between gap-3">
							<button class="btn btn-warning open-edit-sticky-button mb-0" data-modal-id="M-{{.DashID}}" data-title="{{.Title}}" data-description="{{.Description}}" data-id="{{.ID}}">O</button>
							<p class="mb-0" id="T-{{.DashID}}" value="{{.Title}}">{{.Title}}</p>
							<button id="{{.ID}}" onclick="postDeleteSticky(this.id)" class="btn btn-danger">X</button>
						</div>
						<div class="card-body">
							<p class="card-text" id="D-{{.DashID}}" value="{{.Description}}">{{.Description}}</p>
						
							<!-- <button class="button btn btn-warning open-edit-sticky-button mb-0" data-modal-id="M-{{.DashID}}" data-title="{{.Title}}" data-description="{{.Description}}" data-id="{{.ID}}">🖉</button> -->

							<!-- <button id="{{.ID}}" onclick="postDeleteSticky(this.id)" class="btn btn-danger">ⓧ</button> -->
						</div>
					</div>

					<br>

				{{ end }}
			</ul>

		</div>

	</div>

	<hr class="border-2 w-75 mx-auto" />

	<div class="d-flex container">
		<div class="flex-grow-1 flex-wrap">
			<ul>
				<div class="card-body d-flex align-items-center justify-content-center gap-3">
                                        <h2 class="mb-0">CDs</h2>
                                        <button class="btn btn-success open-CD-button">+</button>
                                </div> 

				<br>

				<div class="card text-white bg-dark mb-3 mx-auto" style="margin:auto; width:75%; padding:10px;">
                                        <p class="card-text" id="CDTotal">Total : $0</p>
                                </div>

				{{ range .CDs }}
					<div class="CD card text-white bg-dark mb-3 mx-auto" style="margin:auto; width:75%; padding:10px;">
						<div class="card-header d-flex align-items-center justify-content-between gap-3">
							<button class="btn btn-warning mb-0">O</button>
							<p class="{{.BankName}} mb-0">{{.BankName}}</p>
							<button id="{{.ID}}" onclick="postDeleteCD(this.id)" class="btn btn-danger mb-0">X</button>
						</div>

						<div class="card-body">
							<p class="card-text" id="Deposit-{{.DashID}}">{{.Deposit}}</p>
							<p class="card-text" id="Term-{{.DashID}}">{{.Term}}</p>
							<p class="card-text" id="Apy-{{.DashID}}">{{.Apy}}</p>
							<!-- <button id="{{.ID}}" onclick="postDeleteCD(this.id)" class="btn btn-danger">X</button> -->
						</div>
					</div>

				{{ end }}
			</ul>
		</div>
	
		<div class="flex-grow-1 flex-wrap">
			<ul>
				<div class="card-body d-flex align-items-center justify-content-center gap-3">
					<h2 class="mb-0">Checking/Saving Accounts</h2>
					<button class="btn btn-success open-add-bank-account-button">+</button>
				</div>

				<br>
				
				<div class="card text-white bg-dark mb-3 mx-auto" style="margin:auto; width:75%; padding:10px;">
					<p class="card-text" id="BankAccountTotal">Total : $0</p>
				</div>

				{{ range .BankAccounts }}
					<div class="bank_account card text-white bg-dark mb-3 mx-auto" style="margin:auto; width:75%; padding:10px;">
                                                <div class="card-header d-flex align-items-center justify-content-between gap-3">
							<button class="button btn btn-warning open-edit-bank-account-button mb-0" data-amount="{{.Amount}}" data-id="{{.ID}}">O</button>
                                                        <p id="{{.BankName}}">{{.BankName}}</p>
							<button id="{{.ID}}" onclick="postDeleteBankAccount(this.id)" class="btn btn-danger">X</button>
                                                </div>

                                                <div class="card-body">
                                                        <p class="card-text" id="A-{{.DashID}}" value="{{.Amount}}">{{.Amount}}</p>
                                                        <!-- <button class="button btn btn-warning open-edit-bank-account-button mb-0" data-amount="{{.Amount}}" data-id="{{.ID}}">Edit</button> -->
                                                        <!-- <button id="{{.ID}}" onclick="postDeleteBankAccount(this.id)" class="btn btn-danger">Delete</button> -->
                                                </div>
                                        </div>

				{{ end }} 
				
			</ul>

			<br><br>
		</div>
	</div>

	<!-- The Modal -->
    <dialog id="editStickyModal">
        <form class="form" method="dialog">
            <span class="closeEditSticky btn btn-danger">Cancel</span>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title"><br><br>
            <!-- <label for="description">Description:</label>
            <input type="text" id="description" name="description"><br> -->

	    <p>Description</p>
            <textarea row="10" cols="40" maxlength="140" name="description" id="description" spellcheck="true" placeholder="Enter the description here"></textarea>

            <input type="submit" class="btn btn-success"value="Submit">
        </form>
    </dialog>

    <!-- Add Sticky Modal -->
    <dialog id="addStickyModal">
    	<form class="form" method="dialog">
            <span class="closeAddSticky btn btn-danger">Cancel</span>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
	    <p>Description</p>
	    <textarea row="10" cols="40" maxlength="140" name="description" id="description" spellcheck="true" placeholder="Enter the description here"></textarea>
		

            <input type="submit" class="btn btn-success"value="Submit">
        </form>
    </dialog>


    <!-- Add Bank Account Modal -->
    <dialog id="addBankAccountModal">
    	<form class="form" method="dialog">
		<span class="closeAddBankAccount btn btn-danger">Cancel</span>
		<label for="bank">Choose a bank:</label>
		<select id="bank" name="bank">
			{{ range .Banks }}
			<option value="{{.ID}}">{{.Name}}</option>
			{{ end }}
		</select>
		<label for="amount">Amount: $</label>
		<input type="text" id="amount" name="amount" pattern="^\d+(\.\d{1,2})?$" required><br><br>
		<input type="submit" class="btn btn-success" value="Submit">
	</form>
   </dialog>


   <!-- Edit Bank Account Modal -->
   <dialog id="editBankAccountModal">
   	<form class="form" method="dialog">
		<span class="closeEditBankAccount btn btn-danger">Cancel</span>
		<label for="bankAccountAmount">Amount:</label>
		<input type="text" id="bankAccountAmount" name="bankAccountAmount" pattern="^\d+(\.\d{1,2})?$" required><br><br>
		<input type="submit" class="btn btn-success" value="Submit">
	</form>
   </dialog>

   <!-- Add CD Modal -->
   <dialog id="addCDModal">
   	<form class="form" method="dialog">
		<span class="closeAddCD btn btn-danger">Cancel</span>
		<label for="bank">Choose a bank:</span>
		<select id="bank" name="bank">
			{{ range .Banks }}
			<option value="{{.ID}}">{{.Name}}</option>
			{{ end }}
		</select><br><br>
		<label for="startDate">Begining Date:</label>
		<input type="date" id="startDate" name="startDate" required><br><br>
		<label for="deposit">Initial Deposit: $</label>
		<input type="text" id="deposit" name="deposit" pattern="^\d+(\.\d{1,2})?$" required><br><br>
		<label for="term">Term Length (months):</label>
		<input type="text" id="term" name="term" pattern="^\d+(\.\d{0})?$" required><br><br>
		<label for="apy">APR Rate: %</label>
		<input type="text" id="apy" name="apy" pattern="^\d+(\.\d{3,5})?$" required><br><br>
		<input type="submit" class="btn btn-success" value="Submit">
	</form>
   </dialog>

	

	<script type="text/javascript" src="/static/js/addBankAccountModal.js"></script>
	<script type="text/javascript" src="/static/js/bankAccount.js"></script>
	<script type="text/javascript" src="/static/js/editBankAccountModal.js"></script>
	<script type="text/javascript" src="/static/js/addStickyModal.js"></script>
	<script type="text/javascript" src="/static/js/editStickyModal.js"></script>
	<script type="text/javascript" src="/static/js/addCDModal.js"></script>
	<script type="text/javascript" src="/static/js/crypto-js.min.js"></script>
	<script type="text/javascript" src="/static/js/time.js"></script>
	<script type="text/javascript" src="/static/js/card.js"></script>
	<script type="text/javascript" src="/static/js/CD.js"></script>
	<script type="text/javascript" src="/static/js/sticky.js"></script>
	<script type="text/javascript" src="/static/js/encrypt.js"></script>
	<script type="text/javascript" src="/static/js/decrypt.js"></script>
	<script type="text/javascript" src="/static/js/crypto-3_1_9-1.js"></script>
	<script type="text/javascript" src="/static/js/dashboard.js"></script>


</body>
</html>
