<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>Profile - {{.Username}}</title>
    {{ template "Header" }}
</head>
<body>
	<br>
	<div style = "margin:auto; text-align:center;">
    		<h1 style = "text-transform:capitalize;">{{.TimeOfDay}}, {{.Username}}</h1>
	<div>

	<div>

		<ul>
			{{ range .Events }}
				<div class="card text-white bg-dark mb-3 mx-auto" style="margin:auto; width:75%; padding:10px;">
					<div class="card-header">When : {{ .When }}</div>
					<div class="card-body">
						<p class="card-text">Description : {{ .Description }}</p>
						<p class="card-text">ID : {{ .ID }}</p>
					</div>
				</div>

				<br>

			{{ end }}
		</ul>

		<br><br>
                <a href="/addEvent" class="btn btn-primary">Add Event</a>
                <br><br>
	</div>


</body>
</html>
