<!DOCTYPE html>
<html data-bs-theme="dark">
	<head>
    		<title>Login</title>
	</head>
	<body>
		{{ template "Header" }}
		<h1>Login</h1>
		<form action="/login" method="post">
			<div class="form-group">
        			<label for="username">Username:</label>
        			<input type="text" name="username" required><br>
			</div>
			
			<div class="form-group">
        			<label for="password">Password:</label>
        			<input type="password" name="password" required><br>
			</div>

			<button type="submit" class="btn btn-primary" value="Login">Submit</button>
    		</form>

    		<br><br>
    		<a href="/register">Need a create an account? Click here!</a>
    		<br><br>

		{{ if . }}
			{{ . }}
		{{ end }}

	</body>
</html>

