<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>Profile - {{.Username}}</title>
    {{ template "Header" }}
</head>
<body>
	<br><br>
	<div style = "margin:auto; width:50%; border: 3px solid black; padding:10px; border-radius: 25px;">
    		<h1 style = "text-transform:capitalize;">Welcome {{.Username}}</h1>
    		<br><br>

		<h2>Sorry, but the key was NOT correct! Please click "Retry" to try again.</h2>
		
		<form action="/vault" method="GET">
			
			<button type="submit" class="btn btn-warning" value="vault">Retry</button>

		</form>

	<div>



</body>
</html>
